body {
  margin: 0;
  padding: 0;
}

.app-layout {
  display: flex;
  justify-content: center;
  align-items: center;    
  min-height: 100vh;       
  width: 100vw;        
  background-color: #FFFFFF; 
  color: rgb(0, 0, 0);           
  font-family: sans-serif;
}