.app-view-form-select-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;

    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid #EEEEEE;
    border-radius: 6px;

    box-shadow:
        0px 8px 15px rgba(20, 20, 20, 0.12),
        0px 0px 4px rgba(20, 20, 20, 0.10);
}

.app-view-form-select-page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

/* left empty on purpose; already has internal sizing */
.app-view-form-select-page-all-pages {}

.app-view-form-select-page-options-list {
    max-height: 164px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.app-view-form-select-page-options-list::-webkit-scrollbar {
    display: none;
}

.app-view-form-select-page-button {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-view-form-divider {
    height: 20px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-view-form-divider::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.7px;
    background: #CDCDCD;
}