.app-checkbox {
  width: 25px;
  height: 25px;
  --checkbox-checkmark-size: 7px;

  border-radius: 6px;
  border:  var(--app-checkbox-border);

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  cursor: pointer;

  background-color: var(--app-checkbox-background-color);
  box-shadow: var(--app-checkbox-active-shadow);
}
