.app-checkbox {
    width: 25px;
    height: 25px;
    --checkbox-checkmark-size: 7px;

    border-radius: 6px;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: var(--app-checkbox-background-color);

    transition:
        accent-color 0.2s,
        box-shadow 0.2s,
        border 0.2s;

}

.app-checkbox:hover {
    border: 1px solid #BDBDBD;
    background-color: var(--app-checkbox-background-color-hover);;
}

.app-checkbox:active {
    box-shadow: 0 0 0 3px #2469f619;
}